@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
  <form method="post">
    <div class="input-group">
      <label for="ID" class="input-group-prepend">
        <span class="input-group-text">ID</span>
      </label>
      <input type="text" class="form-control" id="ID" asp-for="ID" value="@Model.ID" placeholder="Enter UST ID here...">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
</div><hr/>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Major</th>
        <th>cGPA</th>
        <th>Phone</th>
    </tr>
    @foreach (System.Data.DataRow row in Model.Student.Rows)
    {
        <tr>
            <td>@row["ID"].ToString()</td>
            <td>@row["Name"].ToString()</td>
            <td>@row["Address"].ToString()</td>
            <td>@row["Major"].ToString()</td>
            <td>@row["cGPA"].ToString()</td>
            <td>@row["PhoneNo"].ToString()</td>
        </tr>
    }
</table>


