@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RMS.Pages.Petition

@{
    ViewData["Title"] = "Petition";
}

<div class="container">
    <form method="post">
        <div class="input-group">
            <label for="PetNum" class="input-group-prepend">
                <span class="input-group-text">Number</span>
            </label>
            <input type="text" class="form-control" id="PetNum" asp-for="PetNum" value="@Model.PetNum" placeholder="Enter Petition Number here...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div><hr/>
<table class="table">
    <tr>
        <th>Serial</th>
        <th>StudentID</th>
        <th>CourseCode</th>
        <th>RegistrarID</th>
        <th>Status</th>
    </tr>
    @foreach (System.Data.DataRow row in Model.PetitionTable.Rows)
    {
        <tr>
            <td>@row["PetNum"].ToString()</td>
            <td>@row["StudentID"].ToString()</td>
            <td>@row["CourseCode"].ToString()</td>
            <td>@row["RegistrarID"].ToString()</td>
            <td>@row["Stat"].ToString()</td>
        </tr>
    }
</table>