@page
@model RMS.Pages.Shared.GReport

@{
    ViewData["Title"] = "Grade Report";
}

<div class="container">
    <form method="post">
        <div class="input-group">
            <label for="StudentID" class="input-group-prepend">
                <span class="input-group-text">Number</span>
            </label>
            <input type="text" class="form-control" id="StudentID" asp-for="RepNum" value="@Model.RepNum" placeholder="Enter Report Number here...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
</div><hr/>
<table class="table">
    <tr>
        <th>Serial</th>
        <th>StudentID</th>
        <th>CourseCode</th>
        <th>Grade</th>
        
    </tr>
    @foreach (System.Data.DataRow row in Model.GradeReport.Rows)
    {
        <tr>
            <td>@row["RepNum"].ToString()</td>
            <td>@row["StudentID"].ToString()</td>
            <td>@row["CourseCode"].ToString()</td>
            <td>@row["Grade"].ToString()</td>
        </tr>
    }
</table>